<ion-header no-border color="primary">
  <ion-navbar>
    <ion-title>
      <img alt="logo" src="assets/imgs/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <h1>Enter the crowd</h1>
  <festrr-login-form (submit)="login($event)"></festrr-login-form>
</ion-content>
